<div id="express-delivery-form-container"
     class="container-fluid">

    <div class="row text-center header-text-uppercase">
        <h3 i18n>Express Delivery</h3>
        <hr class="bottom-hr-orange"/>
    </div>

    <div id="express-delivery-form"
         class="row">

        <div class="text-center header-text-uppercase">
            <p  i18n>Coming Soon...</p>
        </div>

    </div>

    <div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
            <button mat-button
                    color="cancel"
                    class="full-width"
                    (click)="dialogRef.close()">
                <span i18n>Close</span>
            </button>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6">
            <button mat-button
                    color="secondary"
                    class="full-width"
                    type="submit">
                <span i18n>Add</span>
            </button>
        </div> -->
    </div>
</div>