<div id="home-partners">
    <div id="partners-container">
        <div class="row text-center">
            <h3 i18n> PARTNERS</h3>
            <hr class="bottom-hr-orange"/>
        </div>
        <div class="partners-words">
            <swiper [config]="swiperConfig">
                <div class="swiper-wrapper">
                    <div class="swiper-slide full-width">
                        <img src="assets/images/partners/partner-bitboost.svg"/>
                        <div class="slogan">
                            <img class="big-quotation" src="assets/images/partners/quotation.svg"/>
                            <span i18n>BitBoost is the first e-commerce based on cryptocurrencies that use a decentralized
                            logistics platform to serve his clients shippings. We love to work with LWF.</span>
                        </div>
                    </div>
                    <div class="swiper-slide full-width">
                        <img src="assets/images/partners/partner-pivx.svg"/>
                        <div class="slogan">
                            <img class="big-quotation" src="assets/images/partners/quotation.svg"/>
                            <span i18n>Privacy is a must that needs to be guaranteed to everyone.
                        PIVX and LWF will make this happen.</span>
                        </div>
                    </div>
                    <div class="swiper-slide full-width">
                        <img src="assets/images/partners/partner-reddcoin.svg"/>
                        <div class="slogan">
                            <img class="big-quotation" src="assets/images/partners/quotation.svg"/>
                            <span i18n>LWF and Reddcoin want to connect people with Logistic:
                        this is what our partnership with LWF is about.</span>
                        </div>
                    </div>
                    <!-- <img class="swiper-slide full-width" src="assets/images/partners/Partner_Oxy.png"/>
                    <img class="swiper-slide full-width" src="assets/images/partners/Partner_Pivx.png"/>
                    <img class="swiper-slide full-width" src="assets/images/partners/Partner_Reddcoin.png"/> -->
                </div>
                <!-- <div class="swiper-pagination"></div> -->
            </swiper>
        </div>
    </div>
</div>