{% extends 'base_email.html' %}


{% block title %}
    <title>Reset mail</title>
{% endblock %}


{% block container %}
<div class="text-center">
    <h1>
        Password Reset
    </h1>
    <hr class="bottom-hr-orange"/>
</div>

<div class="email-body">
    <div class="email-message">
        <div>Dear {{ user.first_name }},</div>
        <div>
            To reset your password please click on the
            following link: <a href="{{ confirmation_link }}"> Reset password</a>.
        </div>
        <br/>
        <div>The link is valid for {{ validityHours }} hour{% if validityHours > 1 %}s{% endif %}, if you didn't request a password reset, please just ignore this email</div>
        <br/>
        <div>Best Regards,</div>
        <div>LWF Team</div>
    </div>
</div>


{% endblock %}
