<div id="update-tracking-info-form-container"
     class="container-fluid">

    <div class="row text-center header-text-uppercase">
        <h3 i18n>Confirm action</h3>
        <hr class="bottom-hr-orange"/>
    </div>

    <div id="confirm-action"
         class="row">
        <div *ngIf="action === 'refuse'">Are you sure you want to {{action}} the order?</div>
        <div *ngIf="action === 'accept'">Do you want to {{action}} the order?</div>
        <div *ngIf="action === 'delivered'">Confirm if you received the parcel</div>
        <div *ngIf="action === 'forwarded'">Confirm if you forwarded the parcel?</div>
        <div *ngIf="action === 'finalize'">Did you receive your parcel? If yes, please {{action}} the order</div>
        <div class="full-width confirm-buttons">
            <button mat-button
                    color="cancel"
                    (click)="closeDialog()">
                <span i18n>Cancel</span>
            </button>
            <button mat-button
                    color="secondary"
                    (click)="confirm()">
                <span i18n>Confirm</span>
            </button>
        </div>
    </div>
</div>