<div id="signup-modal-container"
     class="container-fluid">

    <div class="row text-center header-text-uppercase">
        <h3 class="row-title" i18n>Signup</h3>
        <hr class=" bottom-hr-orange"/>
    </div>

    <div class="row text-center claim">
        <div>
            <img src="assets/images/email_icon.png">
        </div>
        <span class="text-uppercase" i18n>Email Confirmation</span>
    </div>

    <div class="row text-center">
        <div i18n>We have sent you an email to confirm your subscription.</div>
        <div i18n>Please check your mailbox* and click the link.</div>
        <div class="footnote" i18n>
            <strong>*please also check your spam/promo folder</strong>
        </div>
    </div>

    <div class="row text-center">
        <button mat-button color="secondary" type="button" (click)="closeDialog()" i18n>OK</button>
    </div>

</div>