<div id="services-container"
     class="container-fluid">

    <div class="row text-center">
        <h2 class="row-title" i18n>OUR SERVICES</h2>
        <hr class="bottom-hr-orange"/>
    </div>

    <div id="services-row" class="row">
        <div>
            <a pageScroll href="#p2p-freight-box">
                <img src="../../../assets/images/services/p2p_y.png"/>
                <div class="slogan">
                    <h4 class="row-title">P2P Freight Forwarding</h4>
                    <p>International shipments without borders.</p>
                </div>
            </a>
        </div>
        <div>
            <a pageScroll href="#express-delivery">
                <img class="inst-delivery-icon" src="../../../assets/images/services/icn_express_y.png"/>
                <div class="slogan">
                    <h4 class="row-title">Instant Delivery</h4>
                    <p>Need something? Get it right now!</p>
                </div>
            </a>
        </div>
        <div>
            <a pageScroll href="#packaging-box">
                <img src="../../../assets/images/services/icn_collecting_y.png"/>
                <div class="slogan">
                    <h4 class="row-title">Package Collection</h4>
                    <p>You decide when and where to pick up your package.</p>
                </div>
            </a>
        </div>
    </div>

    <div class="row text-center">
        <h3 class="col-md-12 title-internal-page" i18n>The world has no borders.</h3>
        <h3 class="col-md-12 title-internal-page-subtitle" i18n>Neither does your favorite logistics system.</h3>
    </div>

    <div id="best-logistic-row" class="row text-justify">
        <div class="container center-block">
            <p i18n>
                Logistics, when moving goods worldwide or rather in a local area users have similar requirements:
                <strong> They want their product to arrive: Quickly, conveniently and safely.</strong>
            </p>
            <p i18n>
                The LWF portal is a new paradigm in logistic services, that applies artificial intelligence to help
                users select the correct forwarder for their needs.
            </p>
            <p i18n>
                Private forwarders who join the network can provide a service in return for money: they can collect
                parcels on behalf of other users, reship items to a different final destination or offer an express
                delivery service in their local area.
            </p>
            <p i18n>
                On top of that, LWF has a variety of payment options: Euros, Dollars or Cryptocurrencies. We also have
                our own cryptocurrency, along with other our Crypto partners like Pvix, RedCoin and Zcoin.
            </p>
            <p i18n>
                Don't stop here! Keep reading and discover what LWF can do for you.
            </p>
            <div class="text-center">
                <h4 class="row-title">LWF, the easiest way to get what you want.</h4>
            </div>

        </div>
    </div>

    <div class="row text-center">

        <div class="col-md-12 arrow-row">

            <img src="../../../assets/images/arrow_down_blue.png"/>

        </div>

    </div>

    <div class="row max-row-01">

        <div id="p2p-freight-box" class="col-md-5 col-sm-5 col-xs-12">

            <img class="img-responsive" src="../../../assets/images/services/p2p_w.png">

            <div class="col-md-12 text-left title-boxed">
                <h3 i18n>P2P Freight</h3>
                <h3 i18n>Forwarding</h3>
            </div>

        </div>

        <div class="col-md-7 col-sm-7 hidden-xs">
            <div id="freight-img">
                <!--<img src="../../../assets/images/services/p2p_forwarding.png">-->
            </div>
        </div>

    </div>

    <div id="goods-row" class="row">

        <div class="title-unboxed col-md-5 col-sm-5">

            <h3 class="hidden-xs" i18n>Getting you closer to your favorite products.
            </h3>

        </div>

        <div class="col-md-7 col-sm-7">

            <h3 class="title-internal-page text-left" i18n>
                If you can't get it, somebody can get it for you!
            </h3>

            <p i18n>
                Have you ever experienced the pain of not being able to buy something because direct delivery
                to your home country isn’t available? Even in today's globalised world, such inconvenience continues
                to happen to thousands of people every day!
            </p>

            <p i18n>
                Unfortunately <strong>many companies do not ship all over the world</strong> because is not
                convenient for them, due to logistics costs or marketing strategies.
            </p>

            <p i18n>
                Is there a way to overcome these barriers? <strong>Yes!</strong> The LWF P2P shipment service.
            </p>

            <p i18n>
                <strong>Peer to peer</strong>​shipment means that normal people like you and me, that live in a
                country where your desired item is available, can <strong>receive it on behalf, repack it
                and send it to the buyer.</strong> All through a website, simple and fast!
            </p>

            <p i18n>
                Thanks to LWF you can access to a <strong>widespread network of trusted local
                forwarders.</strong> A sophisticated algorithm helps <strong>find the best shipment offer</strong>
                available, according to your parameters.
            </p>

            <p i18n>
                The strength of LWF P2P logistic systems relies on a <strong>decentralized and highly secure
                network,</strong> based on blockchain architecture. Beyond the algorithm that manages LWF,
                there are normal people that offer private shipment services, free from complex logistic
                protocols.
            </p>

            <p i18n>
                Every local forwarder must have been previously <strong>verified</strong> by LWF and compiles with
                the strict affiliation rules. In addition to that, all the shipments managed through LWF
                are covered by an international insurance policy that covers both the receiver and the
                forwarder.
            </p>

            <h4 class="row-title">LWF - Secure, Protected and Convenient:</h4>

            <ul>
                <li>ability to track your package on its journey - from collection until it’s signed by the
                    receiver (including Proof of Delivery)
                </li>
                <li>full insurance protection for the receiver (covering fraud, theft or loss of parcel)</li>
                <li>you can pay in EUR, USD or cryptocurrencies <a>(click for more info)</a></li>
            </ul>


        </div>

    </div>

    <div id="delivery-row" class="row max-row-01">

        <div class="col-md-7 col-sm-7 hidden-xs">
            <div id="delivery-img">
                <!--<img id="delivery-img"-->
                <!--src="../../../assets/images/services/express_delivery.png">-->
            </div>
        </div>

        <div id="express-delivery" class="col-md-5 col-sm-5 col-xs-12">

            <img src="../../../assets/images/services/icn_express2_w.png">

            <div class="col-md-12 title-boxed">
                <h3 i18n>Instant</h3>
                <h3 i18n>Delivery</h3>
            </div>

        </div>
    </div>


    <div id="goods-row-2" class="row">

        <div class="col-md-7 col-sm-7 text-justify">

            <h3 class="title-internal-page text-left" i18n>
                Whatever you want, whenever you need it... LWF can deliver it quickly!​
            </h3>

            <p i18n>
                LWF Instant Delivery is a <strong>fast on-demand logistic service.</strong> Thanks to a widespread
                network of LWF couriers, you can count on a quick and safe instant delivery service in
                your area.
            </p>

            <p i18n>
                The LWF platform connects customers with local couriers who can deliver anything,
                <strong>whether for you or for your business.</strong> Start a delivery request specifying your
                address, parcel specifications and desired delivery time. Any available courier within
                the network can accept your request and <strong>carry out the delivery in minutes.</strong>
            </p>

            <p i18n>
                Your item will travel in safe hands, since all the LWF local couriers are verified: when
                submitting your request, you will see the identity of the courier, the reviews and the
                mode of transport used for your delivery.
            </p>

            <p i18n>
                As with all purchases in the LWF network, payments for Instant Delivery can be issued
                in <strong>your preferred currency, including EUR, USD or cryptocurrencies.</strong>
            </p>

            <p i18n>
                Get what you need, where and when you need it most!
            </p>

        </div>


        <div class="title-unboxed col-md-5 col-sm-5">

            <h3 class="hidden-xs" i18n>
                If you need something right away, just ask!
            </h3>

        </div>

    </div>

    <div id="packaging-row" class="row max-row-01">

        <div id="packaging-box" class="col-md-5 col-sm-5 col-xs-12">

            <img src="../../../assets/images/services/icn_collecting2_w.png">

            <div class="col-md-12 text-left title-boxed">
                <h3 i18n>Packages</h3>
                <h3 i18n>Collection</h3>
            </div>

        </div>

        <div class="col-md-7 col-sm-7 hidden-xs">
            <div id="packaging-img">
                <!--<img id="packaging-img" src="../../../assets/images/services/package_collect.png">-->
            </div>
        </div>

    </div>

    <div id="goods-row-3" class="row">

        <div class="col-md-5 col-sm-5 title-unboxed">

            <h3 class="hidden-xs" i18n>You decide when and where pick up your package</h3>

        </div>

        <div class="col-md-7 col-sm-7 text-justify">

            <h3 class="title-internal-page text-left" i18n>
                Collect your parcel nearby, at your convenience
            </h3>

            <p i18n>
                How much time have you wasted in line at the post office to collect your parcels?
            </p>

            <p i18n>
                Forget about it! Now you decide when and where collect your package, freed from
                carriers or post office schedules.
            </p>

            <p i18n>
                Through the LWF <strong>network of private pick-up points,</strong> you can save time by collecting
                your package by the nearest point and at your convenience. Before placing an order
                online, check the LWF portal for private collectors <strong>available in your area or nearby.</strong>
                Make your choice and request the service, then purchase the item as you normally
                would, just ship it to the address of the LWF collector of your choice.
            </p>

            <p i18n>
                As soon as the package arrives, the private collector will contact you to arrange a
                pick-up date and time at your convenience.
            </p>

        </div>

    </div>

</div>