<div id="password-reset-container">

<mat-card id="password-reset" 
          class="col-lg-4 col-md-4 col-sm-6 col-xs-8 col-8 col-lg-push-4 col-md-push-4 col-sm-push-3 col-xs-push-2 col-push-2"
          *ngIf="!showLinkExpired">

   <mat-card-header>
      <mat-card-title>
         Password Reset
      </mat-card-title>
   </mat-card-header>

   <div *ngIf="errorMsg">
      <span class="text-center alert-danger">{{errorMsg}}</span>
   </div>

   <mat-card-content>

      <form (ngSubmit)="reset(resetPasswordForm)" 
            [formGroup]="resetPasswordForm">

         <mat-form-field>
            <input matInput 
                   placeholder="Password" 
                   name="password" 
                   type="password"
                   autocapitalize="none"
                   formControlName="password">
         </mat-form-field>

         <mat-form-field>
            <input matInput 
                   placeholder="Repeat Password" 
                   name="confirmPassword" 
                   type="password"
                   autocapitalize="none"
                   formControlName="confirmPassword">
            <mat-error *ngIf="resetPasswordForm.errors && resetPasswordForm.errors.mismatch" i18n>
               Password must match!
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.errors && resetPasswordForm.errors.notfound" i18n>
               Could not reset your password
            </mat-error>
         </mat-form-field>

         <div class="text-center">
            <button mat-button
                    class="send-btn"
                    color="primary"
                    type="submit"
                    i18n>
               Reset
            </button>
         </div>
      </form>
   </mat-card-content>

</mat-card>

      <div class="row text-center" *ngIf="showLinkExpired">
                  <h1 class="col-md-12 header-text-uppercase"> This link is expired!</h1>
      </div>
</div>

