<div id="password-recovery-modal-container"
     class="container-fluid">

    <div class="row text-center header-text-uppercase">
        <div i18n>Password Recovery</div>
        <hr class="bottom-hr-orange"/>
    </div>

    <div class="row text-center claim">
        <div>
            <img src="../../../assets/images/email_icon.png">
        </div>
        <span class="text-uppercase" i18n>Password Recovery</span>
    </div>

    <div class="row text-center">
        <div i18n>We have sent you an email with instructions to reset your password.</div>
        <div i18n>Please check your mailbox* and click the link.</div>
        <div class="footnote"
              i18n><strong>*please also check your spam/promo folder</strong></div>
    </div>

    <div class="row text-center">
        <button mat-raised-button (click)="closeDialog()">OK</button>
    </div>

</div>