<div id="password-reset-modal-container"
     class="container-fluid">

    <div class="row text-center header-text-uppercase">
        <div i18n>Password Reset</div>
        <hr class="bottom-hr-orange"/>
    </div>

    <div class="row text-center claim">
        <div>
            <img src="../../../assets/images/email_icon.png">
        </div>
        <span class="text-uppercase" i18n>Password Reset</span>
    </div>

    <div class="row text-center">
        <div i18n>Your password has been successfully changed</div>
    </div>

    <div class="row text-center">
        <button mat-raised-button (click)="closeDialog()">OK</button>
    </div>

</div>