#password-recovery-container{
  min-height: 600px;
}

#password-reset-container{
  min-height: 600px;
}

#password-recovery {
  margin-top: 100px;
  padding: 10px 35px 20px;
  border-radius: 6px;
  border: 1px solid #f0f1f3;
  box-shadow: 0 1px 0 #cfcfcf;
  .mat-card-header .mat-card-header-text {
    margin: 0 0 !important;
  }
  .mat-card-title {
    color: #005DA1;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .mat-form-field {
    width: 100%;
    label {
      font-size: 1rem;
    }
  }
  input {
    border-radius: 4px;
    font-size: 1rem;
  }
  button.send-btn {
    color: #005DA1;
    background-color: #F7A800;
    width: 100%;
    text-transform: uppercase;
    padding: 8px 15px;
    font-size: 1.125rem;
    letter-spacing: 1px;
    &:hover {
      color: #FFFFFF;
      background-color: #005DA1;
      letter-spacing: 1px;
    }
  }
}

#password-reset {
  margin-top: 100px;
  padding: 10px 35px 20px;
  border-radius: 6px;
  border: 1px solid #f0f1f3;
  box-shadow: 0 1px 0 #cfcfcf;
  .mat-card-header .mat-card-header-text {
    margin: 0 0 !important;
  }
  .mat-card-title {
    color: #005DA1;
    font-size: 1.25rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .mat-form-field {
    width: 100%;
    label {
      font-size: 1rem;
    }
  }
  input {
    border-radius: 4px;
    font-size: 1rem;
  }
  button.send-btn {
    color: #005DA1;
    background-color: #F7A800;
    width: 100%;
    text-transform: uppercase;
    padding: 8px 15px;
    font-size: 1.125rem;
    letter-spacing: 1px;
    &:hover {
      color: #FFFFFF;
      background-color: #005DA1;
      letter-spacing: 1px;
    }
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1rem;
  letter-spacing: 1px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 1rem;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 1rem;
  letter-spacing: 1px;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 1rem;
  letter-spacing: 1px;
}

/* DIALOG STYLES */
#password-recovery-modal-container {
  background: #FFFFFF;
  color: #005DA1;
  font-size: 1.125rem;
  .mat-raised-button {
      margin-top: 30px;
  }
  div:first-of-type {
      margin-top: 0;
  }
  hr {
      margin-top: 5px !important;
  }
}

#password-reset-modal-container {
  background: #FFFFFF;
  color: #005DA1;
  font-size: 1.125rem;
  .mat-raised-button {
      margin-top: 30px;
  }
  div:first-of-type {
      margin-top: 0;
  }
  hr {
      margin-top: 5px !important;
  }
}


.claim {
  font-size: 1.125rem;
  background: #fff;
  padding: 20px;
  color: #F7A800;
  img {
    min-width: 100px;
    max-width: 25%;
  }
}

.footnote {
  margin-top: 10px;
  font-size: 0.875rem;
  font-weight: bold;
  font-style: italic;
}