<div id="footer-container" class="row">
    <div class="footer-image-wrapper">
        <div class="footer-image"></div>
    </div>
    <footer class="footer-bs">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-3">
                <h4 i18n> Local World Forwarders</h4>
            </div>
            <hr class="col-md-12 col-sm-12 col-xs-12 col-12"/>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-6 footer-nav animated fadeInUp">
                <ul class="pages">
                    <li><a href="https://explorer.lwf.io" target="_blank" i18n>Blockchain</a></li>
                    <li><a href="#" i18n>Careers</a></li>
                    <li><a href="#" i18n>API</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-6 footer-nav animated fadeInUp">
                <ul class="pages">
                    <li><a href="#" i18n>Partners</a></li>
                    <li><a href="#" i18n>Exchange</a></li>
                    <li><a href="#" i18n>Privacy Agreement</a></li>
                    <li><a href="#" i18n>ICO Results</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-6 footer-nav animated fadeInDown">
                <ul class="pages">
                    <li><a href="#" i18n>Contact</a></li>
                    <li><a href="https://www.lwf.io#faq" target="_blank" i18n>FAQ</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-6 footer-nav animated fadeInDown">
                <ul class="pages">
                    <li><a href="#" i18n>Find one LWF Warehouse or Direct Logistic Point</a></li>
                    <li><a href="#" i18n>Become a LWF Partners (Only for logistics company)</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <span i18n>Version {{version}}</span>
        </div>
    </footer>
</div>