#avatar-image {
  width: 150px;
  height: 150px;

}

.avatar {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 150px;
  height: 150px;
  // object-fit: contain;
}

#account-verification-container{
  .avatar{
    width:150px;
    height:auto;
  }
}
#avatar-image.editable:hover .edit {
  display: block;
}

.edit {
  padding-top: 7px;
  padding-left: 25px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  a {
    color: #000;
  }
}

.avatar-wrapper {
  font-size: 0.875rem;
  font-weight: 600;
  color: #9B9DA0;
  border: 3px solid #D6D8DA;
  border-radius: 10px;
  width: 200px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .avatar {
    width: 80px !important;

  }
}

.upload-file{
  margin-top:15px !important;
  height:30px;
  line-height:1 !important;
  width:200px;
  display:block !important;
}
@media (max-width:768px){

  .avatar {
    width: 100px;
    height: 100px;
  }
}