$lwf-blue: (
    50 : #e0ecf4,
    100 : #b3cee3,
    200 : #80aed0,
    300 : #4d8ebd,
    400 : #2675af,
    500 : #005da1,
    600 : #005599,
    700 : #004b8f,
    800 : #004185,
    900 : #003074,
    A100 : #a2c1ff,
    A200 : #6f9eff,
    A400 : #3c7cff,
    A700 : #236bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$lwf-yellow: (
    50 : #fef5e0,
    100 : #fde5b3,
    200 : #fbd480,
    300 : #f9c24d,
    400 : #f8b526,
    500 : #f7a800,
    600 : #f6a000,
    700 : #f59700,
    800 : #f38d00,
    900 : #f17d00,
    A100 : #ffffff,
    A200 : #fff1e5,
    A400 : #ffd5b2,
    A700 : #ffc798,
    contrast: (
        50 : #005da1,
        100 : #005da1,
        200 : #005da1,
        300 : #005da1,
        400 : #005da1,
        500 : #005da1,
        600 : #005da1,
        700 : #005da1,
        800 : #005da1,
        900 : #005da1,
        A100 : #005da1,
        A200 : #005da1,
        A400 : #005da1,
        A700 : #005da1,
    )
);

$lwf-red: (
    50 : #f9e8e8,
    100 : #efc7c7,
    200 : #e4a1a1,
    300 : #d97b7b,
    400 : #d15f5f,
    500 : #c94343,
    600 : #c33d3d,
    700 : #bc3434,
    800 : #b52c2c,
    900 : #a91e1e,
    A100 : #ffe1e1,
    A200 : #ffaeae,
    A400 : #ff7b7b,
    A700 : #ff6262,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$lwf-grey: (
    50 : #f3f3f4,
    100 : #e1e2e3,
    200 : #cdced0,
    300 : #b9babd,
    400 : #aaacae,
    500 : #9b9da0,
    600 : #939598,
    700 : #898b8e,
    800 : #7f8184,
    900 : #6d6f73,
    A100 : #f3f6fe,
    A200 : #c4d6fa,
    A400 : #8bb2ff,
    A700 : #72a1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);