<profile-info [profile]="profile"
              [wallet]="wallet"></profile-info>
<verification-warning-launcher *ngIf="profile && !docsSubmitted" [profile]="profile" style="display:none;"></verification-warning-launcher>

<div class="container-fluid">
    <div id="security-container" *ngIf="profile && profile.user">

        <div class="row text-center header-text-uppercase">
            <h2 class="row-title" i18n>Security</h2>
            <hr class="bottom-hr-orange"/>
        </div>

        <div class="security-content">
            <div class="password-container">
            <form *ngIf="contactForm"
                  (ngSubmit)="submitContactInfo(contactForm)"
                  [formGroup]="contactForm"
                  #contactFormElement="ngForm">

                <div class="change-password">
                    <h4 class="text-uppercase" i18n>Change Password</h4>
                </div>
                <label i18n> Old Password</label>
                <mat-form-field floatLabel="never">
                    <input matInput
                           placeholder="Old Password"
                           name="oldPassword"
                           type="password"
                           autocapitalize="none"
                           formControlName="oldPassword">
                    <mat-error *ngIf="contactForm.get('oldPassword').errors
                                                    && contactForm.get('oldPassword').errors.backend
                                                    && contactForm.get('oldPassword').errors.backend.oldPassword"
                               i18n>
                        Password is wrong!
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('oldPassword').hasError('required')" i18n>
                        Old Password is required!
                    </mat-error>
                </mat-form-field>
                <label i18n>New Password</label>
                <mat-form-field floatLabel="never">
                    <input matInput
                           placeholder="New Password"
                           name="newPassword"
                           type="password"
                           autocapitalize="none"
                           formControlName="newPassword">
                    <mat-error *ngIf="contactForm.get('newPassword').hasError('required')" i18n>
                        Password is required!
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('newPassword').hasError('minlength')" i18n>
                        Password must be at least 8 characters
                    </mat-error>
                </mat-form-field>
                <label i18n>Confirm Password</label>
                <mat-form-field floatLabel="never">
                    <input matInput
                           placeholder="Confirm Password"
                           name="newPasswordConfirm"
                           type="password"
                           autocapitalize="none"
                           formControlName="newPasswordConfirm">
                    <mat-error *ngIf="contactForm.errors && contactForm.errors.mismatch" i18n>
                        Password must match!
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('newPasswordConfirm').hasError('minlength')" i18n>
                        Password must be at least 8 characters
                    </mat-error>
                    <mat-error *ngIf="contactForm.get('newPasswordConfirm').hasError('required')" i18n>
                        Confirm Password is required!
                    </mat-error>
                </mat-form-field>
                <button mat-button color="secondary"
                        type="submit">
                    <span i18n>SAVE</span>
                </button>
            </form>
        </div>
        <div class="two-fa-container">
            <div>
                <h4 class="text-uppercase" i18n>
                    <span *ngIf="!profile.enable2FASMS">Enable </span>
                    <span *ngIf="profile.enable2FASMS">Disable </span>
                        2FA</h4>
                <div class="highlight_3 text-uppercase" i18n>(Two Factor Authentication)</div>
            </div>
            <div>
                <section class="checkbox-section pack-accepted-from">
                    <label class="label">
                        <input class="label__checkbox"
                               type="checkbox"
                               [checked]="profile.enable2FASMS"
                               (click)="setEnable2FASMS($event)"/>
                        <span class="label__text">
                            <span class="label__check" i18n>
                                Enable via SMS
                            </span>
                        </span>
                    </label>

                    <label class="label" style="display:none;">
                        <input class="label__checkbox"
                               type="checkbox"
                               disabled
                               [checked]="profile.enable2FAGoogle"
                               (click)="setEnable2FAGoogle($event)"/>
                        <span class="label__text">
                            <span class="label__check" i18n>
                                Enable via Ga
                            </span>
                        </span>
                    </label>
                </section>
            </div>
        </div>
    </div>
    </div>
</div>