<div id="passwordchange-modal-container"
     class="container-fluid">

    <div class="row text-center claim">
        <div class="success-icon">
            <i class="material-icons">
                check_circle_outline
            </i>
        </div>
        <span class="text-uppercase row-title" i18n>Password Changed</span>
    </div>

    <div class="row text-center">
        <div i18n>Your password has been changed successfully!</div>
    </div>

    <div class="row text-center">
        <button mat-button color="secondary" (click)="closeDialog()" i18n>OK</button>
    </div>

</div>